@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville&display=swap");

/* Font Styles */
.heading-1 {
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}

.black {
  color: #0f0e0d;
}
.white {
  color: white !important;
}
.medium {
  font-weight: 500;
}

.body-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #7b7b7b;
  margin: 0;
}

.caption {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #a8844e;
}

.nav-link {
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #7b7b7b;
}

.center-aligned {
  text-align: center;
}
